.template-index {
  width: 100%;
  background: #fff;
  .form {
    float: left;
    width: 67%;
    height: 90%;
    padding: 10px;
    overflow: auto;
  }
  .form-detial {
    float: left;
    width: 33%;
    padding: 0px 10px;
    color: #555;
    font-family: inherit;
    font-size: 13px;
    line-height: 20px;
    a {
      text-decoration: underline;
      color: #68a5bb;
    }
    .form-model {
      height: 30vh;
      overflow: auto;
      // border: 1px solid #ddd;
      border-radius: 5px;
      padding: 10px;
      background: #f5f5f5;
    }
    .form-list {
      height: 50vh;
      overflow: auto;
      // border: 1px solid #ddd;
      padding: 10px;
      background: #f5f5f5;
    }
  }
}
